name: Build and add packages

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'GitHub repository with R package to build'
        required: true
      ref:
        description: 'Ref to check out (sha or branch)'
        default: ''
        required: false
      pkg_path:
        description: 'path to package root in repo'
        default: 'pkg'
        required: false

jobs:
  build:
    runs-on: ${{ matrix.config.os}}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: ubuntu-20.04, r: '4.1', src: true }
          - { os: ubuntu-20.04, r: '4.2', src: false }
          - { os: ubuntu-20.04, r: '4.3', src: false }
    steps:
      # checkout drat repo
      - uses: actions/checkout@v3
        with:
          repository: dragosmg/internal-cran
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: gh-pages
          path: dmg-internal-cran
      # checkout pkg to build
      - uses: actions/checkout@v3
        with:
          path: pkg
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.event.inputs.repo }}
          ref: ${{ github.event.inputs.ref }}
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r}}
      - uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.17.1' # The pandoc version to download (if necessary) and use.
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: ${{ github.event.inputs.pkg_path}}
          extra-packages: |
            github::eddelbuettel/drat
            github::r-lib/devtools
          cache: true

      - name: Create source pkg and check
        if: matrix.config.src
        shell: Rscript {0}
        run: |
          dir.create("pkg-build", showWarnings = FALSE)
          devtools::check(pkg = "${{ github.event.inputs.pkg_path }}")
          devtools::build(pkg =  "${{ github.event.inputs.pkg_path }}", path = "pkg-build")

      - name: Create binary pkg
        shell: Rscript {0}
        run: |
          dir.create("pkg-build", showWarnings = FALSE)
          devtools::build(pkg = "${{ github.event.inputs.pkg_path }}", path = "pkg-build", binary = TRUE)

      - name: Setup Git User
        run: |
          cd dmg-internal-cran
          git config --local user.name "Github Actions"
          git config --local user.email "github-actions@users.noreply.github.com"
          git pull

      - name: Insert pkg
        shell: Rscript {0}
        run: |
          built_pkg <- list.files(
            path = "pkg-build",
            full.names = TRUE
          )

          drat::insertPackage(
            file = built_pkg,
            repodir = "dmg-internal-cran",
            pullfirst = FALSE,
            commit = FALSE,
            action  = "none"
          )

      - name: Commit and push
        run: |
          cd dmg-internal-cran
          git add *
          git add -f *.tar.gz
          git commit -m "Update package from ${{ github.event.inputs.pkg_path}}"
          git push origin
